.cover__link {
    text-decoration: none;
    color: #fff;
    display: grid;
    grid-template-rows: 1fr max-content 32px max-content 1fr;
    grid-template-areas:
        "image"
        "title"
        "."
        "subtitle"
        ".";
    margin: 0;
}

.cover__link:hover>.cover__overlay {
    opacity: 0.8;
}