.cover__subtitle {
    grid-area: subtitle;
    z-index: 1;
    align-self: center;
    justify-self: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    width: 360px;
    margin: 0;
}