.footer__links {
    display: flex;
    gap: 18px;
    align-items: start;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 750px) {


    .footer__links {
        flex-direction: column;
        gap: 32px;
    }
}