.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    max-width: 484px;
    grid-area: paragraph;
    height: fit-content;
    margin: 0;
}

.place__paragraph:nth-of-type(2) {
    grid-area: second-paragraph;
}