.intro {
  display: flex;
  flex-direction: column;
  margin-top: 92px;
  width: 984px;
}

@media screen and (max-width: 1280px) {
  .intro {
    width: calc(928px + 56 * (100vw - 1024px) / (1280 - 1024));
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-top: calc(88px + 4 * (100vw - 768px) / (1024 - 768));
    width: calc(720px + 208 * (100vw - 768px) / (1024 - 768));
    margin-left: calc(24px - 24 * (100vw - 768px) / (1024 - 768));
    margin-right: calc(24px - 24 * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin-top: calc(64px + 24 * (100vw - 320px) / (768 - 320));
    width: calc(288px + 432 * (100vw - 320px) / (768 - 320));
    margin-left: auto;
    margin-right: auto;
  }
}