.lead__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin: 32px 0 0;
    max-width: 640px;
}

@media screen and (max-width: 750px) {
    .lead__subtitle {
        font-size: calc(16px + 14 * (100vw - 320px) / 430);
        max-width: calc(288px + 432 * (100vw - 320px) / 430);
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        max-width: 288px;
    }
}