.lead__subtitle {
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin: 32px 0 6.5%;
    width: 640px;
}

@media screen and (max-width: 750px) {
    .lead__subtitle {
        font-size: calc(16px + 14 * (100vw - 320px) / 430);
        width: calc(288px + 432 * (100vw - 320px) / 430);
    }
}