.lead__caption {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    align-self: flex-start;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .lead__caption {
        margin-left: calc(24px - 24 * (100vw - 768px)/(1024 - 768));
    }
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: calc(16px + 8 * (100vw - 320px)/(768 - 320));
    }
}