.cover__title {
    grid-area: title;
    justify-self: center;
    align-self: center;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    width: 560px;
    z-index: 1;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .cover__title {
        font-size: calc(32px + 40 * (100vw - 320px) / (768 - 320));
        line-height: calc(35px + 41 * (100vw - 320px) / (768 - 320));
    }
}