.cover__title {
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
    align-self: flex-start;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    width: 560px;
    z-index: 1;
    margin: 0;
}