.place {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto 48px min-content 26px 1fr;
    grid-template-areas:
        "title website"
        "image ."
        "image paragraph"
        "image ."
        "image second-paragraph";
    column-gap: 40px;
}