.place {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "title website"
        "image paragraph";
    row-gap: 48px;
    column-gap: 40px;
}