.place {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 48px min-content 1fr;
  grid-template-areas:
    "title website"
    "image ."
    "image paragraph"
    "image second-paragraph";
  column-gap: 40px;
}

@media screen and (max-width: 1280px) {
  .place {
    column-gap: calc(32px + 8 * (100vw - 1024px) / (1280 - 1024));
  }
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: calc(28px + 4 * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (max-width: 750px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows:
      min-content 32px min-content min-content 32px min-content min-content;
    grid-template-areas:
      "title"
      "."
      "website"
      "image"
      "."
      "paragraph"
      "second-paragraph";
  }
}