.intro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    margin: 12px 0 0;
}

@media screen and (max-width: 700px) {
    .intro__title {
        max-width: calc(288px + 412 * (100vw - 320px) / (700 - 320));
    }
}